<%= form_with model: @menu, local: true do |form| %>
  <% if @menu.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4>
        <%= pluralize(@menu.errors.count, "error") %>
        prohibited this article from being saved:
      </h4>
      <ul>
        <% @menu.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label>Date</label>
    <div class="input-group date" id="datepicker" data-target-input="nearest">
      <%= form.text_field :date, :class => 'form-control datetimepicker-input', data: { target: '#datepicker' } %>
      <div class="input-group-append" data-target="#datepicker" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Appetizer</label>
    <%= form.select :appetizer_id,
                    options_from_collection_for_select(Meal.where(kind: :appetizer).order(:title).pluck(:id, :title), :first, :last, @menu.meal_ids),
                    { :prompt => 'select appetizer' },
                    { :class => 'form-control' } %>
  </div>    

  <div class="form-group">
    <label>Soup</label>
    <%= form.select :soup_id,
                    options_from_collection_for_select(Meal.where(kind: :soup).order(:title).pluck(:id, :title), :first, :last, @menu.meal_ids),
                    { :prompt => 'select soup' },
                    { :class => 'form-control' } %>
  </div>

  <div class="form-group">
    <label>Main meal</label>
    <%= form.select :main_id,
                    options_from_collection_for_select(Meal.where(kind: :main).order(:title).pluck(:id, :title), :first, :last, @menu.meal_ids),
                    { :prompt => 'select main meal' },
                    { :class => 'form-control' } %>
  </div>

  <div class="form-group">
    <label>Sweet</label>
    <%= form.select :sweet_id,
                    options_from_collection_for_select(Meal.where(kind: :sweet).order(:title).pluck(:id, :title), :first, :last, @menu.meal_ids),
                    { :prompt => 'select sweet' },
                    { :class => 'form-control' } %>
  </div>   

  <div class="form-group">
    <%= link_to 'Back', menus_path, :class => 'btn btn-warning' %>
    <%= form.submit 'Submit', :class => 'btn btn-primary float-right' %>
  </div>
<% end %>

<script>
  $(function() {
    $('#datepicker').datetimepicker({
      format: 'YYYY-MM-DD'
    });
  });
</script>